.fourSteps li {
	font-size: 30px;

}

#backgroundC {
	background-color: #202829;
}

#jumbotron {
	padding: 32px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
}

#headingOne {
	font-size: 30px;
}

#introBody {
	margin-top: 50px;
}

img {
	wdith: 100%;
	height: auto;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .search_input{
        padding: 0 10px;
        width: 450px;
        caret-color:red;
        
        }
    
        .searchbar:hover > .search_icon{
        background: white;
        color: #e74c3c;
        
        }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }


.enter_container{
    text-align: center;
  margin:0 auto;
  margin-top: 80px;
}

.searchbar1_container{
    margin-top: 40px;
    margin-bottom: 20px;
}

.searchbar2_container{
    margin-bottom: 20px;
}

.search_text{
    color: white;
}